
:root {
	/* color variables */
	--component-stroke: #7cea8c;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1440;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: 
		clamp(calc(var(--min-font-size) * 1px), 
		calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / 
		(var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.text {
	--min-font-size: 15; 
	--max-font-size: 16; 
	font-size: var(--interpolate);
}

.subtitle1 {
	font-size: 16px;
	text-align: justify;
}

.subtitle2 {
	font-size: 24px;
}

.sub-text-green {
	color: #7cea8c;
}

.sub-text-white {
	color: #fff;
}

.card-blue2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #04090d;
	padding: 0 24px;
}

.input1 {
	background-color: #7cea8c;
	border-radius: 50%;
}

.card-blue1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #04090d;
	padding: 50px;
}

.input2 {
	border-radius: 10px;
}

.hover-dark:hover {
	filter: brightness(0.85);
}

/* RESPONSIVE QUERIES */
@media (max-width: 480px) {
	.card-blue1 {
		padding: 20px;
	}
}

/* ANIMATION */

/* @keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
} */

.page {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.page.is-visible {
  animation: fadeIn 1s ease-in forwards;
}