body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	color: #fff;
	font-family: 'Bree Serif';
	line-height: normal;
	letter-spacing: 0px;
	background: linear-gradient(180deg, #04090d 0%, #0f1314 60%) top left / auto auto no-repeat;
	background-attachment: fixed;
	padding: 18px 50px;
	overflow: auto;
}

/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	body {
		padding-inline: var(--margin-md);
	}
	.nav {
		padding-inline: var(--margin-sm);
	}
	.hero {
		padding-inline: var(--margin-sm);
	}
	.hero-left-card {
		padding-inline: 0;
	}
	.hero-title {
		margin-inline: 0;
	}
	.hero-text-bottom {
		margin-inline: 0;
	}
	.currently-learning-row {
		margin-inline: 0;
	}
	.card {
		padding-inline: var(--margin-sm);
		margin-inline: 0;
	}
	.card-text-bottom {
		margin-inline: 0;
	}
	.about-me-text {
		margin-inline: 0;
	}
	.input-group {
		margin-inline: 0;
	}
	.contact-message {
		padding-inline: var(--margin-sm);
	}
	.contact-undefined-bottom {
		padding-inline: var(--margin-sm);
	}
}

@media screen and (max-width: 576px) {
	body {
		padding-inline: var(--margin-sm);
	}
}

/* container queries (flex rows) */

@container hero (width < 322px) {
	.row {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.row > * {
		text-align: center;
	}
}

@container body (width < 695px) {
	.nav {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.nav > * {
		margin-top: unset !important;
		text-align: center;
	}
}

@container hero (width < 1088px) {
	.projects-project {
		flex-direction: column;
		align-items: center;
		gap: 55px;
	}
	.projects-project .card-left-subtitle {
		align-self: center;
	}
	.projects-project .card-left-row {
		align-self: center;
	}
	.projects-project > .card-left {
		width: 100%;
		align-items: center;
	}
	.projects-project > .card-left > * {
		text-align: unset;
	}
	.projects-project > .projects-img {
		width: 100%;
	}
}

@container contact (width < 206px) {
	.contact-row {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.contact > * {
		margin-left: 0; margin-right: 0;
	}
	.contact-row > * {
		margin-left: unset !important; margin-top: unset !important;
	}
}

@container contact (width < 1239px) {
	.input-group {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.input-group > * {
		text-align: center;
	}
	.input-group > .input-group-input1 {
		width: 100%;
	}
	.input-group > .input-group-email {
		width: 100%;
	}
}
