.slider {
	display: flex;
	justify-content: center;
}

.slider-container {
    width: 70%;
    overflow: hidden;
}

.recently-updates-title {
    text-align: left;
    margin-bottom: 30px;
}

.updates-carousel {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.updates-card {
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 4px solid #7cea8c;
    padding: 20px;
    border-radius: 10px;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.book-img, .typescript-img, .discrete-math-img {
    width: 2.5rem;
    background-color: #7cea8d81;
    padding: 5px;
    border-radius: 50%;
}

/* Dots Styling */
.dots-container {
    text-align: center;
    padding: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #ffffff; /* Your white dots */
    border: 1px solid #333;
}

/* RESPONSIVE QUERIES */
@media (max-width: 1024px) {
	.slider-container {
		width: 80%;
	}
}

@media (max-width: 768px) {
    .recently-updates-title {
        text-align: center;
    }

	.updates-card {
		width: 80%;
	}

	.slider-container {
		width: 90%;
	}
}

@media (max-width: 480px) {
    .updates-card {
        width: 90%;
    }

	.slider-container {
		width: 100%;
	}
}